---
import InstaIcon from "../assets/icons/social/insta_icon.png";
import LinkedinIcon from "../assets/icons/social/linkedin_icon.png";
import TwitterIcon from "../assets/icons/social/twitter_icon.png";
import YoutubeIcon from "../assets/icons/social/youtube_icon.png";
---

<footer class="sm:w-3/5 w-full flex flex-col justify-center items-center space-y-14 mb-10">
    <span>
        {/* Social */}
        <div class="flex items-center space-x-5">
            <img src={InstaIcon.src} alt="" />
            <img src={LinkedinIcon.src} alt="" />
            <img src={TwitterIcon.src} alt="" />
            <img src={YoutubeIcon.src} alt="" />
        </div>
    </span>

    <div class="sm:flex sm:items-center sm:justify-between sm:space-x-10 space-y-10 sm:space-y-0 bg-blue-600 text-white sm:px-24 px-12 py-10 rounded-lg mx-12">
        <h3 class="text-center sm:text-left font-semibold text-3xl max-w-sm">
            Grow your business fast with Sark SaaS Landing.
        </h3>

        <button class="text-white bg-slate-900 rounded px-4 py-2"> FALE CONOSCO </button>
    </div>

    <p class="text-slate-500 text-xs">
        &copy; 2024 Direitos reservados nome do cliente -  Desenvolvido por SuryaMKT - Alvaro Nascimento
    </p>
</footer>
